fastapi
uvicorn
streamlit
pandas
python-dotenv
neo4j
chromadb
sentence-transformers
openai
requests
tqdm
pydantic
pytest
pytest-asyncio
httpx
redis
redisvl
prometheus-client
prometheus-fastapi-instrumentator
